.profile__avatar-button {
  background-image: url('../../../images/avatar-edit.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-style: none;
  background-color: rgba(0,0,0,.8);
  position: absolute;
  opacity: 0;
}

.profile__avatar-button:hover {
  cursor: pointer;
  transition: .5s;
  opacity: 1;
}