.profile__info {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  align-items: center;
  max-width: calc(100% - 300px);
}

@media screen and (max-width: 768px) {
  .profile__info {
    justify-content: center;
    max-width: 100%;
  }
}