.card__delete {
  background: transparent url(../../../images/delete-icon.svg) no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__delete:hover {
  opacity: .6;
}