.profile__edit {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-top: 7px;
  background: #000 url(../../../images/pen-icon.svg) no-repeat center;
  background-size: 10px 10px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
    margin: 0;
  }
}