.card__like {
  background: transparent url(../../../images/like.svg) no-repeat center;
  background-size: 21px 18px;
  padding: 0;
  margin-bottom: 3px;
  width: 21px;
  height: 19px;
  border: unset;
  cursor: pointer;
}

.card__like:hover {
  opacity: .5;
}